mixin gabariPage(titre)
	doctype html
	html(lang="fr")
		head
			meta(charset="utf-8")
			title=(titre) ? titre + ' — AGATAs' : 'AGATAs : Collectif d’actions cartographiques pour la transition écologique et sociale'
			link(rel="stylesheet" type="text/css" href="style.css")
			link(rel="icon" type="image/png" sizes="16x16" href="img/favicon/16.png")
			link(rel="icon" type="image/png" sizes="32x32" href="img/favicon/32.png")
			link(rel="icon" type="image/png" sizes="64x64" href="img/favicon/64.png")
			link(rel="icon" type="image/png" sizes="128x128" href="img/favicon/128.png")
			link(rel="icon" type="image/png" sizes="256x256" href="img/favicon/256.png")
		body
			block
			script(src="candy.js")
