- titre = "AGATAs : des outils partagés pour nourrir nos stratégies de Transition"
include _gabaris/principal

+gabariPage(titre)
	header
		img(src="img/illu-accueil/AGATAs-logoBandeau.png" alt="")
		h1=titre
	nav#menu.initialPos
		a(href="#pourquoi") AGATAs ?
		a(href="#solutions") Solutions
		a(href="#valeurs") Valeurs
		a(href="#modele-economique") Modèle économique
		a(href="#projets") Projets
		a(href="#equipe") Equipe
		a(href="#contact") Contact
	section.page#pourquoi
		h2 Pourquoi AGATAs ?
		section: .enveloppe
			header
				img(src="img/illu-accueil/noyade.png" alt="trop d'information (illustration)")
				h3 Noyé par trop d’informations ?
			.sectionContent
				p Vous vous demandez souvent :
				ul
					li Comment les conserver et les retrouver rapidement ?
					li Comment les utiliser au mieux pour guider vos prises de décision ?
					li Comment les partager de façon plus interactive et stimulante ?
		section: .enveloppe
			header
				img(src="img/illu-accueil/reunions.png" alt="réunionite inefficace (illustration)")
				h3 Vos réunions ne sont pas efficaces ?
			.sectionContent
				p Vous avez déjà été confronté à :
				ul
					li Des discussions trop chronophages pour mettre tout le monde d’accord ?
					li Des divergences de points de vues qui peinent à se retrouver ?
					li Une absence de méthode de travail collaborative claire pour prendre des décisions collectivement ?
		section: .enveloppe
			header
				img(src="img/illu-accueil/projets.png" alt="plannifier sans faire (illustration)")
				h3 Vos projets piétinent ?
			.sectionContent
				p Ils peinent à :
				ul
					li Comprendre les enjeux politiques, économiques, juridiques auxquels vous êtes confrontés ?
					li Trouver des soutiens et à s’enraciner dans leur environnement social ?
					li Articuler leurs actions autour d’une vision stratégiques ?
	section.page#solutions
		h2 Nos Solutions
		section
			.enveloppe
				header
					h3 Organisez vos informations de façon visuelle pour mener à bien vos projets.
				.sectionContent
					:markdown-it
						AGATAs transforme vos informations en graphiques relationnels faciles à créer et à comprendre.

						- **Cartographiez vos réseaux** pour explorer leurs points de force et de faiblesse,
						- **Visualisez des systèmes complexes** sous forme de graphes pour mieux les comprendre et interagir avec.
						- **Affinez vos mesures d’impact** en configurant vous même des outils d’analyse.
						- **Utilisez un outil en constante amélioration**, qui prend soin de l’ergonomie et de vous faciliter la saisie.
						- **Exportez facilement des visualisations dynamiques** pour communiquer de façon innovante.
			.parallaxe#illuApp
				img(src="img/illu-accueil/exemple-interface-application-graph.png" alt="interface application visualisation graphes")
		section
			.enveloppe
				header
					h3 Transformez vos données pour la Transition en bien commun accessible à tous.
				.sectionContent
					:markdown-it
						AGATAs vous permet de partager facilement les données que vous avez choisi de mettre en commun.

						- **Un niveau de publication et d’édition de vos données personnalisable :** public, collaboratif ou privé selon vos besoins ;
						- **Un module de traduction collaborative** intégré dans l’application, pour dépasser les barrières de la langue ;
						- **Un outil gratuit** et sans publicité.  Vos données ne font l’objet d’aucune exploitation commerciale ;
						- **Un processus de contribution à la fois simple et qualitatif**, qui permet de valider et sécuriser vos données ;
						- **Un code entièrement libre**, pour en faire un bien commun, qui peut être vérifié, modifié, amélioré par n’importe quelle communauté d’informaticiens.
			.parallaxe#illuGraph
				img(src="img/illu-accueil/exemple-visu-graph.svg" alt="visualisation graphes")
		section: .enveloppe
			header
				h3 Déployons pleinement l’intelligence collective que nous avons déjà.
			.sectionContent
				:markdown-it
					AGATAs vous propose de connecter vos savoirs et expériences à tout un réseau d’acteurs de la Transition pour développer une intelligence commune.

					- **Nous faisons d’AGATAs un espace d’échange et de mutualisation des savoirs pratiques**, pour que les apprentissages de chacun servent à tous.
					- **Nous organisons des animations de pensée créative** pour faire émerger des solutions innovantes par vos équipes ;
					- **Nous formons vos équipes** à l’utilisation avancée de notre plateforme et aux bases de la facilitation graphique ;
					- **Nous (co)organisons des évènements et des rencontres** pour multiplier et renforcer les liens entre projets de Transition ;
					- **Nous adaptons le code** de l’application à vos besoins et à vos données pour que notre intelligence se diffuse dans le monde numérique ;
					- **Nous sensibilisons vos équipes à la sécurité informatique** avec des formations et en proposant des solutions de stockage à domicile, avec cryptage des données, pour garder la maîtrise de nos savoirs.

	section.page#valeurs
		h2 Nos valeurs
		section: .enveloppe
			header
				img(src="img/picto/sensibiliser.svg" alt="porte voix (illustration)")
				h3 Sensibilisation
			.sectionContent
				:markdown-it
					La transition écologique et sociale, comme la justice environnementale sont les deux faces d’une même pièce.

					Grâce à notre outil de visualisation, nous espérons pouvoir mettre en lumière la force et la crédibilité des alternatives écologiques et solidaires et dévoiler les liens obscurs entre les représentants de l’intérêt général, nos élus et hauts fonctionnaires, avec les intérêts particuliers des grandes multinationales.

		section: .enveloppe
			header
				img(src="img/picto/organisation.svg" alt="reseau (illustration)")
				h3 Organisation
			.sectionContent
				:markdown-it
					Trop souvent, nous confondons « organisation » avec « hiérarchie ». S’organiser, ce n’est pas forcément se soumettre les uns aux autres. Nous pensons au contraire que cela peut amener à plus d’écoute, plus de considération.

					Grâce à l’application de visualisation et aux animations que nous proposons, nous voulons promouvoir des méthodes de travail et des modèles d’organisation à la fois plus inclusifs, plus horizontales, mais aussi plus efficaces.

		section: .enveloppe
			header
				img(src="img/picto/cooperer.svg" alt="coworking (illustration)")
				h3 Coopération
			.sectionContent
				:markdown-it
					La marche vers la Transition écologique et sociale et la Justice environnementale ont peu de chances d’aboutir si nos alternatives et si nos campagnes sont déconnectées les unes des autres.

					Avec AGATAs, notre souhait est que les projets de transitions se connectent plus facilement entre eux, que les luttes convergent autour d’objectifs et de cibles partagées, que le monde des « solutions » rencontre celui des « problèmes », pour rejoindre un même mouvement vers un monde vivable.

		section: .enveloppe
			header
				img(src="img/picto/autre-internet.svg" alt="evolution par étapes (illustration)")
				h3 Un autre Internet
			.sectionContent
				:markdown-it
					Coopération, sensibilisation et organisation dépendent de l’existence d’un autre internet :

					- Un Internet qui n’atomise pas la société/ne “dématérialise” pas les relations, mais dont l’usage est participatif et collaboratif. C’est pourquoi nous favorisons l’organisation d’évènements et de rencontres dans le monde physique, où le matériel informatique est partagé collectivement.
					- Un Internet libre, neutre, où la vie privée est protégée, et les données publiques vraiment accessibles par tous. C’est pourquoi nous vous sensibilisons à un usage sécurisé d’internet, que notre code est libre, et que nous soutenons le travail de La Quadrature du Net sur la neutralité du web.
					- Un Internet qui ne soit pas, derrière le masque de l’économie “collaborative” et la parure dorée du “digital”, le cheval de Troie de réformes libérales organisant la compétition de tous contre tous. C’est pourquoi nous défendons un autre modèle de société reconnaissant la production de valeurs non marchandes (ESS,  propositions de salaire à vie et/ou revenus de base…).

	section.page#modele-economique
		h2 Notre modèle économique
		section: .enveloppe
			header
				img(src="img/picto/data-pas-vendue.svg" alt="financement innaproprié (illustration)")
				h3 Ce que nous refusons :
			.sectionContent
				:markdown-it
					- Nous ne revendons pas vos données !
					- Nous refusons la publicité !
					- Nous ne voulons pas vous rendre captif d’un monopole qui deviendra payant à l’avenir !
					- Bref, nous refusons d’alimenter un système de gaspillage et d’exploitation des ressources et des êtres vivants (Et on veut bien un coup de main).

		section: .enveloppe
			header
				img(src="img/picto/argent-sources.svg" alt="source de financement (illustration)")
				h3 Comment sommes nous financés ?
			.sectionContent
				:markdown-it
					- Pendant un an, grâce au premier financeur de l’entrepreneuriat en France : la CAF !
					- Par des prestations que nous facturons à nos partenaires-usagers. Ces derniers doivent à minima être d’accord avec notre charte. S’ils n’ont pas les fonds propres suffisant, nous les aidons à trouver des solutions de financement.
					- Mais aussi grâce à vos adhésions, des campagnes de dons et des aides publiques.

		section: .enveloppe
			header
				img(src="img/picto/argent-utilisation.svg" alt="utilisation argent (illustration)")
				h3 A quoi sert cet argent ?
			.sectionContent
				:markdown-it
					- À payer les salaires, dont le montant est collectivement décidé pour chaque salarié, dans une échelle de 1 à 3.
					- À provisionner pour les immobilisations matérielles, à couvrir nos frais de mission, à adhérer à différentes organisations partenaires...
					- Et si vous voulez connaître nos dépenses à l’euro près, adhérez à l’association !

		section: .enveloppe
			header
				img(src="img/picto/approuve.svg" alt="ideal (illustration)")
				h3 Notre modèle économique serait presque idéal si :
			.sectionContent
				:markdown-it
					- Nous ne dépendions pas autant de la vente de prestations. Aujourd’hui, la vente devient de plus en plus le passage obligé de toute entreprise (au sens premier du terme). Or, nous ne croyons guère à la capacité de l’”entrepeneuriat social” à résoudre tous les problèmes avec “un modèle économique innovant”. Nous ne pensons pas que le marché soit un système d’allocation de ressources efficace. La vraie valeur n’est pas marchande, surtout en matière d’économie de la connaissance !
					- C’est pourquoi nous défendons l’instauration de modèles macro-économiques alternatifs qui reconnaissent d’autres formes de valeurs que le travail marchand, et qui nous permettraient de proposer tous nos services gratuitement : revenu de base, salaire à vie, monnaies libres… Venez en discuter avec nous en adhérant à notre association !

	section.page#projets
		h2 Les projets

	section.page#equipe
		h2 Notre équipe
		section: .enveloppe
			header
				img(src="https://robohash.org/Millicent%20Billette%20de%20Villemeur" alt="Millicent (photo/avatar)")
				h3 Millicent Billette de Villemeur
			.sectionContent
				:markdown-it
					Informaticien multi-casquette, ici principalement développeur web.
					Passionné depuis l'enfance, après un bac+5 informatique, je continue d'exercer ma passion à mon compte depuis 7 ans.
					Agiliste, Libriste, fils de syndicaliste, je veux d'un monde meilleur, et agir en cohérence avec mes convictions.
					En dehors d'AGATAs, vous me croiserez là ou l'on répars ou bricole de la technologie,
					là où l'on communique sans violence en respectant les sensibilité de chacun,
					là où l'on défend la liberté de vivre sans être présumé coupable,
					là où l'on préfère l'intérêt général des générations actuelles et futures,
					ou encore, là ou le corps est instrument d'art et d'épanouissement.
		section: .enveloppe
			header
				img(src="https://robohash.org/Jean-Noël%20Chassé" alt="Jean-Noël (photo/avatar)")
				h3 Jean-Noël Chassé
			.sectionContent
				:markdown-it
					Tombé très tôt dans la marmite du militantisme associatif, syndical et politique, Jean-Noël participe à de nombreuses aventures professionnelles où se croisent compétences et engagement. Parmi elles, la création d’un centre de santé intégré pour le développement des politiques de prévention d’une Union départementales des mutuelles, la mise en place d’une société de services pour le logement privé à caractère social, la gestion d’un restaurant rural et d’une radio associative locale. Aujourd’hui retraité, Jean-Noël reste très engagé dans l’économie sociale et solidaire : gestion d’une ressourcerie, animation d’un collectif villageois pour un projet de chaufferie à bois et partagée…
		section: .enveloppe
			header
				img(src="https://robohash.org/Vincent%20Espagne" alt="Vincent Espagne (photo/avatar)")
				h3 Vincent Espagne
			.sectionContent
				:markdown-it
					Consultant en ingénierie culturelle et en communication. Vincent est administrateur d’une ressourcerie et de l’association Energies citoyennes. Il est co-auteur d’un rapport sur l’exploration et l’exploitation du gaz de schiste en Tunisie, édité par la Fondation Heinrich Böll et d’une brochure sur les hydrocarbures extrêmes dans le Maghreb, éditée avec ATTAC France. Vincent avait collaboré avec le CETIM pour une publication sur l’Accord multilatéral sur les investissements en 1998. Il est coauteur de La passion du schiste  - capitalisme, démocratie, environnement en Argentine, également publié par le CETIM en septembre 2016.
		section: .enveloppe
			header
				img(src="https://robohash.org/Gaëtan%20Guyet" alt="Gaëtan Guyet (photo/avatar)")
				h3 Gaëtan Guyet
			.sectionContent
				:markdown-it
					Diplômé de Sciences Po Toulouse, Gaëtan est actif dans les luttes pour la Justice Climatique. Amateur du community organizing, il participe à différents projets d’entrepreneuriat social. Mandataire financier de l’association, Gaëtan est principalement en charge d’imaginer le modèle économique et le développement du partenariat. Il teste auprès de potentiels usagers les hypothèses sur lesquelles reposent le modèle économique imaginé.
		section: .enveloppe
			header
				img(src="https://robohash.org/Mathilde%20Labrunie" alt="Mathilde Labrunie (photo/avatar)")
				h3 Mathilde Labrunie
			.sectionContent
				:markdown-it
					Etudiante en Master d’Anthropologie, après des études de droit et de géographie, Mathilde fut également militante dans diverses associations écologiques et sociales (citer une ou deux associations). Son attention se porte depuis des années sur les actions et les alternatives élaborées pour déconstruire les évidences constituant largement la structure de nos sociétés. (citer l’activité au SAMU social de Bordeaux)

	section.page#contact
		h2 Nous contacter
		section: .enveloppe
			p Vous êtes curieux et voulez en savoir plus sur l’actualité d’AGATAs et de nos projets ?
				| Rejoignez nous sur notre page Facebook, ou contactez nous à
				| <a href="mailto:contact@agatas.org">contact@agatas.org</a>.
		section: .enveloppe
			p Vous voulez animer un projet avec nous, demander un accompagnement, une formation ou toute autre prestation ?
				| Contactez <a href="mailto:gaetan.g@agatas.org">Gaëtan</a>
				| ou <a href="mailto:vincent.e@agatas.org">Vincent</a>.
		section: .enveloppe
			p Vous voulez travailler sur le code, proposer des améliorations, demander une adaptation ?
				| Contactez <a href="mailto:millicent.b@agatas.org">Millicent</a>.

	footer.page#legals
		section: .enveloppe
			header
				img(src="img/picto/mentions-legales.svg" alt="")
				h2 Mentions légales
			p AGATAs - Jean-Noël Chassé, Vincent Espagne, Gaëtan Guyet, Mathilde Labrunie - Les Pascals 34650 LUNAS - Fr.
			p Développement : Millicent Billette de Villemeur.
			p  © Pictogrammes : The Noun Project - Yo! Baba, Anthony Bossard, Creative Stall, Gregor Črešnar, Deepz, Farias, Thomas Helbig, Dinosoft Labs, Faktor Vier, Rafael Farias Leão, Dan Hetteix, Gan Khoon Lay, Pham Thi Dieu Linh, Matt Gibson, Stefan Parnarov,  Jesus Puertas, Harsha Rai, Rockicon, Arthur Shlain, Spicy Icons, Oliviu Stoian, To Uyen. © Visualisation : d3js.org - Mike Bostock, Tim Dwyer, Thomas Jakobsen ; highlight.js , Ivan Sagalaev.
