@font-face {
	font-family: 'Ubuntu';
	src: url('fonts/ubuntu-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('fonts/ubuntu-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

*
	margin 0
	padding 0
	border 0
	box-sizing border-box
	text-align justify
	font-family Ubuntu, sans-serif
	line-height 130%

h1, h2, h3, h4, h5, h6
	text-align center;
	color #4d6464
	display block
	margin-bottom 20px
	font-weight bold

img
	max-width 100%

.page
	display flex
	flex-wrap wrap
	margin 20px
	padding-top 40px
	border-top #a4bfbf solid 4px
	@media (min-width: 1600px)
		margin 40px
	> h2
		width 100%
		display block
		text-align center
		font-size 300%

	> section
		flex 1 1 300px
		margin 20px
		border-top: none
		display flex
		flex-direction column
		> .enveloppe
			flex 1
			display flex
			flex-direction column

		ul
			padding-left 20px


.enveloppe
	max-width 1200px
	margin auto

.sectionContent
	padding 20px 10px
	border solid #a4bfbf 2px
	flex 1

.parallaxe
	background-attachment fixed
	//background-size cover
	//background-size 100%
	background-size calc(100% - 80px);
	@media (min-width: 1280px)
		background-size 1200px;
	background-repeat no-repeat
	background-position center
	height 100vh
	width 100%
	max-width 1200px
	margin auto
	margin-top 40px
	@media (min-width: 1600px)
		margin-top 60px

	> img
		display none !important
#illuApp
	background-image url("img/illu-accueil/exemple-interface-application-graph.png")
#illuGraph
	background-image url("img/illu-accueil/exemple-visu-graph.svg")

p
	margin-bottom 20px
li
	margin-bottom 10px
p:last-child, li:last-child
	margin-bottom 0

body>header img
	max-height 300px
	display block
	margin 40px auto

#pourquoi
	margin-top 80px
	border-top 0

#valeurs, #modele-economique
	>:nth-child(5)
		flex 9 9 100vw
#valeurs, #modele-economique, #equipe, footer
	> section header
		margin-bottom 20px
		> *
			display inline-block
			line-height 56px
			height 56px
			margin 0
			vertical-align bottom
		> img
			margin-right 10px

#solutions>section
	flex 1 1 100vw

#pourquoi, #solutions, #equipe
	img
		display block
		margin auto


nav#menu
	display flex
	width 100%
	> a
		display block
		flex 1
		background-color #a4bfbf
		color #4d6464
		margin 0 5px
		padding 10px
		line-height 20px
		text-align center
		text-decoration none
		border-radius 10px
		border-top-left-radius 0
		border-top-right-radius 0
		&:hover
			background-color lighten(#a4bfbf, 30%)

nav#menu.initialPos
	margin-bottom -84px
	border-top #a4bfbf solid 4px

nav#menu.fixed
	position fixed
	top 0
